.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
}
.header {
  margin: 3rem 0;
}
.header-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  .title,
  .btn-wrap {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  .subHeader-wrap {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (max-width: 490px) {
  .header-wrap {
    justify-content: center;
    grid-template-columns: none;
    .btn-wrap {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
