* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*:focus {
  outline: 0;
}

body {
  font-family: Circular Std;
}

.font-20 {
  font-size: 20px;
}
.text-center {
  text-align: center;
}

.btn {
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 500;
  color: #d7dae0;
  border: none;
  cursor: pointer;
}
.btn-add {
  background-color: #7888fc;
}
